.animated-button {
    animation-name: button-color;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes button-color {
    0% {
      background-color: #5dc0cf;
    }
    50% {
      background-color: white;
    }
    100% {
      background-color: #5dc0cf;
    }
  }
  