.navigation-menu {
    display: flex;
    align-items: center;
    background-color: #002e67;
    color: #ffffff;
    height: 80px;
    padding: 0 20px;
    width: 100%;
  }
  
  .logo {
    width: 180px;
    margin-top: 4px;
  }

  .buttons {
    justify-content: start;
  }
  button {
    margin-left: 10px;
  }
  
  .content-wrapper {
    padding: 20px;
  }

  .smartworld-container{
    position: relative
  }
  