.container {
  background-color: #5dc0cf;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: large;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  margin: 0;
}